################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

# Ignorar diretórios .vs em todos os lugares
.vs/

# Ignorar diretórios específicos de cada projeto
/EntregaTudo.Core/bin/
/EntregaTudo.Core/obj/
/EntregaTudo.Dal/bin/
/EntregaTudo.Dal/obj/
/EntregaTudo.Api/bin/
/EntregaTudo.Api/obj/