################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/EntregaTudo/DesignTimeBuild
/.vs/EntregaTudo/v17
/EntregaTudo.Core/bin/Debug/net8.0
/EntregaTudo.Core/obj/Debug/net8.0
/EntregaTudo.Core/obj
/.vs/EntregaTudo/FileContentIndex
/.vs/
/EntregaTudo.Dal/bin/Debug/net8.0
/EntregaTudo.Dal/obj/Debug/net8.0
/EntregaTudo.Dal/obj
/EntregaTudo.Web/bin/Debug/net8.0
/EntregaTudo.Web/obj
.vs/
